<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <!--общие настройки приложения-->
  <appSettings>
    <!--работать в режиме заглушки-->
    <add key="StubMode" value="false"/>
  </appSettings>

  <!--настройки Unity-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ISubsystem" type="Exallon.ISubsystem, Exallon"/>

    <container>
      <types>
        <!--менеджер сессий-->
        <type type="ISubsystem" mapTo="Exallon.Sessions.SessionManager, Exallon" name="ISessionManager">
          <lifetime type="singleton"/>
          <!--Версия 1С. Доступные значения: V80, V81, V82-->
          <property name="Version1C" value="V81"/>
          <!--строка подключения к БД 1С. Возможны следующие варианты написания:
              1) подключение к локальной БД 1С, расположенной в папке на данном компьютере
                  "DbPath=<полный путь к папке, которая содержит БД 1С>"
              2) подключение к серверу 1С
                  "Server=<url-адрес сервера>;DbName=<название БД>"
          -->
          <property name="ConnectionString" value="DbPath=c:\.Exallon\1C-db\"/>
          <!--Период мониторинга сессий: 1 минута-->
          <property name="SessionMonitoringPeriod" value="00:01:00"/>
          <!--Максимальное время простоя сессии: 10 минут-->
          <property name="SessionMaxIdleTime" value="00:10:00"/>
        </type>
        <!--менеджер данных-->
        <type type="ISubsystem" mapTo="Exallon.Data.DataManager, Exallon" name="IDataManager">
          <lifetime type="singleton"/>
        </type>
        <!--менеджер конфигурации-->
        <type type="ISubsystem" mapTo="Exallon.Configurations.ConfigurationManager, Exallon" name="IConfigurationManager">
          <lifetime type="singleton"/>
        </type>
      </types>
    </container>
  </unity>

  <!--настройки WCF-->
  <system.serviceModel>
    <services>
      <!--сервис доступа к данным-->
      <service behaviorConfiguration="DefaultBehavior" name="Exallon.Data.DataService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="LargeBuffer"
                  contract="Exallon.Data.IDataService"
                  bindingNamespace="http://www.exallon.ru"
                  bindingName="DataService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/exallon" />
          </baseAddresses>
        </host>
      </service>
      <!--сервис конфигурации-->
      <service behaviorConfiguration="DefaultBehavior" name="Exallon.Configurations.ConfigurationService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="LargeBuffer"
                  contract="Exallon.Configurations.IConfigurationService"
                  bindingNamespace="http://www.exallon.ru"
                  bindingName="ConfigurationService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/exallon/config" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeBuffer" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
           maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
